<% content_for :head do %>
  <link rel="stylesheet" href="<%= url("/layout.css") %>">
  <title>Grocery List Compiler | Home </title>
<% end %>

<header>
  <h1>This belongs to home.erb</h1>
  <a href="/meal">Click me</a>
</header>