<% content_for :head do %>
  <link rel="stylesheet" href="<%= url("/layout.css") %>">
  <title>Grocery List Compiler | Home </title>
<% end %>

<h1>This week's meals</h1>

<div class="content">
  <% if session[:grocery_list].has_recipes? %>
    <ul>
      <% session[:grocery_list].recipes.each do |recipe| %>
        <li><%= recipe.name %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No meals for this week :(</p>
  <% end %>
</div>

<form action="/generate" method="post">
  <input type="submit" value="generate my list!">
</form>
