<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Grocery List Compiler</title>
    <link rel="icon" href="/data/images/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/layout.css">

    <%= yield_content :links %>
  </head>
  <body>

  <aside>
    <nav>
      <ul class="sidebar">
        <li><a href="/">Home</a></li>
        <li><a href="/edit_meals">Edit meals</a></li>
        <li><a href="/new_recipe">New recipe</a></li>
      </ul>
    </nav>
  </aside>

  <main>
    <p class="flash-message error"><%= session.delete(:error) %></p>
    <p class="flash-message success"><%= session.delete(:success) %></p>
    <%= yield %>
  </main>

  </body>
</html>