<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Grocery List Compiler</title>
    <link rel="stylesheet" href="./stylesheets/layout.css">
    <%= yield_content :links %>
  </head>
  <body>

  <p>This belongs to layout.erb</p>
  <%= yield %>

  </body>
</html>