<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Grocery List Compiler</title>
    <%= yield_content :head %>
  </head>
  <body>

  <p>This belongs to layout.erb</p>
  <%= yield %>

  </body>
</html>